body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 200px;
    margin-top: 80px;
}
#holygrail{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background : linear-gradient( #e95420,#772953);
    height: 656px;
    width: 1110px;
}

#header{
    display: flex;
    padding:10px;
    width:auto;
    height:20px;
    background-color: rgba(255,255,255,0.15);
    color:rgba(255,255,255,1);
    margin-bottom: 20px;
}

#header{
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
}

#main{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255,255,255,0.15);
    border: 2px solid #fff;
}

#content{
        width: 100px;
        height: 400px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        background-color: rgba(255,255,255,0.15);
        border: 2px solid #fff;
        padding:20px;
        align-items: center;
        color:rgba(255,255,255,1);
}

#secondary{
    width: 650px;
    height:400px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: rgba(255,255,255,0.15);
    border: 2px solid #fff;
    padding:20px;
    color:rgba(255,255,255,1);
}

#tertiary{
    width:100px;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(255,255,255,0.15);
    border: 2px solid #fff;
    padding:20px;
    color:rgba(255,255,255,1);
}

footer{
    display: flex;
    padding:10px;
    width:auto;
    height:20px;
    background-color: rgba(255,255,255,0.15);
    color:rgba(255,255,255,1);
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
}