@font-face{
    font-family: Allura;
    src:url('../fonts/Allura-Regular.otf');
}
@media screen and (max-width:800px){
    #headersection header{
        width:90%;
        margin:10px;
        background-color: white;
        color:black;
    }
    .headertext{
        font-size:1.5em;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-shadow: 0;
    }
}


#headersection header{
    height:150px;
    width:90%;
    background: url(../th.jpg) left center no-repeat;
     
    margin-top:40px ;
    margin-left: 60px;
    margin-bottom:2px;
    }
    #headersection nav{
    height:70px;
    width:90%;
   /* border-top:4px double purple;
    border-bottom:4px double purple;*/
    margin-left: 60px;
    margin-top: 0;
    background-color: black;
    background-image: linear-gradient(to bottom ,purple, #ac7db3);
    border-radius: 5px;
    padding-top: 10px;
    }
    nav ul li{
        display: inline;
        margin-right: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.5em;
       
    }
    nav ul li a{
        text-decoration:none;
        color: ivory;
       
    }  
    nav ul li a:hover{
        border:2px solid white;
        border-radius: 2px;
    }     
     /* #login{
        margin-left: 650px;
    }  */
     
    /* nav ul li:last-of-type{
        margin-right:400px;
    } */
    /* nav ul li:nth-child(4n){
        margin-left:500px;
    } */
     
    nav ul li:nth-child(4){
        margin-left:650px;
        /* float: left; */
    }
    .pagefooter{
        height: 80px;
        width:90%;
        border-top: 4px double purple;
        margin-left: 60px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1em;
        text-align: right;
        padding-right: 10px;
        clear: both;
     
    }
    .headertext{
        position: absolute;
        left:650px;
        top:50px;
        font-family: Allura;
        font-size: 4em;
        color:#0f070f;
        text-shadow: 5px 5px 0.1px gray;
    }