footer{
    background-color: lightblue;
}
*{
    background-color: gray;
}
footer{
    background-color: indianred;
} 
.test{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large
}
#test{
    font-family: cursive;
    font-size: xx-large
}
body{
    font-family: monospace;
    font-size: xx-large;
}
